<!--14.10 Dodati dio za filtere ->member-list.ts-->
<div class="text-center mt-3">
  <h2>Your matches - {{pagination.totalItems}} found</h2>
</div>
<!--9.5.2 Dodati html ->member-card.css-->
<div class="container mt-3">
  <!--14.10.2 Dodati propertije na html elemente ->member-list.ts-->
  <form class="form-inline" novalidate #form="ngForm" (ngSubmit)="loadUsers()">
    <div class="form-group">
      <label for="minAge">Age From</label>
      <input type="number" class="form-control ml-1" style="width: 70px" id="minAge" [(ngModel)]="userParams.minAge" name="minAge">
    </div>
  
    <div class="form-group px-2">
      <label for="maxAge">Age To</label>
      <input type="number" class="form-control ml-1" style="width: 70px" id="maxAge" [(ngModel)]="userParams.maxAge" name="maxAge">
    </div>
  
    <div class="form-group px-2">
      <label for="gender">Show: </label>
      <select class="form-control ml-1" style="width: 130px" id="gender" [(ngModel)]="userParams.gender" name="gender">
        <option *ngFor="let gender of genderList" [value]="gender.value">
          {{gender.display}}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
    <button type="button" class="btn btn-info" (click)="resetFilters()" style="margin-left:10px">Reset Filter</button>
    <!--14.12.2 dodati dio za html ->user.service-->
    <div class="col">
      <div class="btn-group float-right">
        <button type="button" name="orderBy" class="btn btn-primary" [(ngModel)]="userParams.orderBy" (click)="loadUsers()" btnRadio="lastActive">Last Active</button>
        <button type="button" name="orderBy" class="btn btn-primary" [(ngModel)]="userParams.orderBy" (click)="loadUsers()" btnRadio="created">Newest Members</button>
      </div>
    </div>
  </form>
  <br>
  <div class="row">
    <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
      <!--9.6.3 Dodati card tag-->
      <app-member-card [user]="user"></app-member-card>
    </div>
  </div>
</div>
<!--14.7 Dodati html za paginaciju ->app.module.ts-->
<!--14.7.3 Dodati dio za paginaciju ->member-list.ts-->
<div class="d-flex justify-content-center">
<pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems" 
                                  [itemsPerPage]="pagination.itemsPerPage" 
                                  [(ngModel)]="pagination.currentPage"
                                  (pageChanged)="pageChanged($event)"
            previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
 
</pagination>
</div>